[v-cloak] {
  display: none !important;
}

.top-menu {
  border-bottom: 1px solid whitesmoke;
  margin-bottom:15px;
  background:white;
  .top-menu-inner {
    padding: 15px;
    width: 100%;
    max-width: 1205px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    .buttons-left{
        display:flex;
        align-items:center;
        .links{
            margin-left:20px;
        }
    }

    a{
        margin-left:18px;
        color:gray;
        text-decoration: none;
        &.bold{
            font-weight:bold;
            color:#484848;
            // font-size:16px;
        }
    }
  }
  .logo-left {
    width: 130px;
  }
}

.docs-list-page {
  display: flex;
  justify-content: center;
  .gauge-canvas {
    width: 100%;
    height: 140px;
    margin-top: -36px;
    margin-bottom: -8px;
    padding: 0 5px;
  }
  .pagination {
    text-align: center;
    padding: 5px;
    >div {
      color: black;
      display: inline-block;
      user-select: none;
      margin: 3px;
      min-width: 25px;
      min-height: 25px;
      line-height: 25px;
    }
    >.page-button {
      cursor: pointer;
      border-radius: 2px;
      background: gainsboro;
      text-align: center;
      font-weight: bold;
      transition: .1s background;
      &:hover {
        background: silver;
      }
    }
  }
  .results-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    .references-header {
      margin-bottom: 0;
    }
    .annotation-username {
      color: #202020;
      font-weight: bold;
    }
    .needs-annotation-container,
    .already-annotated-container {
        background:white;
        box-shadow: 0 0 8px rgba(0,0,0,.5);
      &:last-child {
        margin-left: 5px;
      }
      h2 {
        margin:20px 0 15px;
        padding-left: 8px;
        text-align: center;
      }
      display: block;
      flex-grow: 1;
      flex-basis: 0; // flex-direction: column;
      // justify-content: flex-start;
      // align-items: stretch;
      .doc-container {
        border-bottom: 1px solid gainsboro;
        &.expanded {
          background: #ececec;
        }
      }
      .doc-summary {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 10px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: #ececec;
        }
        .domain {
          padding-top: 2px;
          a {
            text-decoration: none;
            color: gray;
          }
        }
        .page-title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          padding-right: 5px; // height: 25px;
          flex-grow: 1;
          min-width: 0;
        }
        .avg-score-container {}
        .num-annotations-container {
          width: 56px;
          flex-shrink: 0;
        }
        .info-square {
          padding: 5px;
          width: 35px;
          background-color: #ececec;
          text-align: center;
          border-radius: 2px;
          float: right;
        }
      }
      .doc-url-header {
        margin-top: 0;
        font-size: 15px;
        margin-bottom: 0px;
        color: #3f3f3f;
        font-weight: bold;
      }
      .doc-url {
        margin-top: 3px;
        overflow: hidden;
        word-wrap: break-word;
        a {
          color: #3f3f3f;
        }
      }
      .doc-details-container {
        display: flex;
        padding: 5px;
        padding-bottom: 0;
        background: whitesmoke;
      }
      .doc-details {
        width: 33%;
        padding-left: 5px;
      }
      .annotations-container {
        max-height: 600px;
        overflow: auto;
        width: 66%;
        padding-right: 0px;
      }
      .annotation-container {
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
        border: 1px solid #ececec;
        list-style: none;
        padding: 15px;
        margin-bottom: 8px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
        background: white;
        .quote {
          padding: 0 10px;
          overflow-wrap: break-word;
          color: #a6a6a6;
          font-family: sans-serif;
          font-size: 12px;
          font-style: italic;
          letter-spacing: 0.1px;
          border-left: 3px solid #dbdbdb;
          margin-bottom: 10px;
        }
        .truthiness-header {
          margin-bottom: 5px;
        }
        .truthiness-score {
          margin-bottom: 0;
          margin-top: 0px;
          font-weight: bold;
          display: inline-block;
          padding: 3px 5px;
          min-width: 25px;
          text-align: center;
          border-radius: 2px;
        }
      }
    }
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, .95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}
