{% raw %}
<div id="app-v" v-cloak class="docs-list-page">
	<div class="results-container">
		<div class="needs-annotation-container">
			<h2>Need Scoring</h2>
			<document v-for="doc in unscored" :unscored="true" :doc="doc" :key="doc.id"></document>
			<pagination :value="unscoredPaginationData" @input="unscoredPaginationChanged"></pagination>
		</div>
		<div class="already-annotated-container">
			<h2>Already Scored</h2>
			<document v-for="doc in scored" v-bind:doc="doc" :key="doc.id"></document>
			<pagination :value="scoredPaginationData" @input="scoredPaginationChanged"></pagination>
		</div>
	</div>
</div>
{% endraw %}