{% extends "h:templates/layouts/base.html.jinja2" %}

{% block content %}
    {% include 'list-app.html' %}
{% endblock %}

{% block footer %}
  {% include "h:templates/includes/footer.html.jinja2" %}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}